:root {
    --height-sidebar: calc(100vh - 10rem);
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.header {
    display: block;
    height: 5rem;
    background-color: #203040;
    color: #ffffff;
    padding: 0.5rem;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    a:hover {
        color: orange;
    }
}

.grid-band {
    display: grid;
    grid-template-rows: 6rem 4rem 1fr 4rem;
    grid-template-columns: 1f;
    // background-color: cornsilk;
}

.title-band {
    height: 4rem;
    width: 100vw;
    background-color: #203040 !important;
    color: #ffffff !important;
    padding: 0.5rem 0 05rem 2rem;
    font-size: 20px;
    line-height: 5rem;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    a:hover {
        color: orange;
    }
}

.filter-band {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
    height: 4rem;
    background-color: cornsilk;
    div {
        margin-left: 1rem;
    }
}

.number-of-products {
    display: block;
    width: 25rem;
    padding-left: 3rem;
    font-weight: bold;
}

.cart-items-number {
    display: inline-block;
    padding-left: 8rem;
}

.main-sidebar {
    display: flex;
    flex-wrap: nowrap;
}

.footer {
    height: 4rem;
    text-align: center;
    color: white;
    background-color: black;
    line-height: 4rem;
}

.main {
    display: flex;
    width: 65vw;
    gap: 5px;
    padding: 2px 1rem;
    // background-color: yellow;
}

.flex-cont {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar {
    flex: 1 20rem;
}