// .filter {
//     display: flex;
//     width: 80%;
//     justify-content: flex-end;
//     align-items: center;
//     padding-left: 1rem;
//     margin: 0 auto;
//     margin-top: 1rem;
//     border-bottom: 0.1rem #c0c0c0 solid;
// }
// .filter div {
//     flex: 1;
// }
// .filter-sort,
// .filter-size {
//     display: inline-block;
//     width: 30rem;
//     margin-left: 1rem;
// }
// .filter-size {
//     padding-left: 12px;
// }
:root {
    --height-sidebar: calc(100vh - 10rem);
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer"; // stack vertically;  order is important
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100vh;
    // & span {
    //     display: inline-block;
    //     margin-left: 5px;
    // }
}

header {
    display: flex;
    grid-area: header; // not necessary, just info
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #203040;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

main {
    grid-area: main; // not necessary
    //  & div {
    //      display: inline-block;
    //  }
}

footer {
    display: flex;
    grid-area: footer; // not necessary
    justify-content: center;
    align-items: center;
    background-color: #203040;
    color: #ffffff;
    display: flex;
}

.content {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem;
    align-items: center;
}

.filter-result {
    margin-left: 2rem;
}

.sidebar {
    flex: 1 20rem;
    // align-items: stretch;
    background-color: rgb(149, 189, 224);
}

.label {
    color: red;
}