.App {
    font-family: sans-serif;
    text-align: center;
}

.select-box {
    width: 25rem;
}

.multi-select {
    width: 25rem;
}

.clear-all-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px 5px;
    background-color: aliceblue;
    &:hover {
        background-color: cornsilk;
        color: red;
    }
}